@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body {
  text-align: center;
  font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
}

g path:hover {
  stroke: rgba(128, 128, 128);
  stroke-width: 2px;
  stroke-opacity: .5;
  fill:rgba(244, 222, 122, .5);
}

.container {
  border: 4px solid rgb(23, 23, 23);
  padding: 1em;
  background: rgb(232, 232, 232);
}

svg {
  background: rgb(238, 238, 238);
  border: 1px solid rgb(155, 155, 155);
  box-shadow: .25em .25em 5px rgb(211, 211, 211);
  display: block;
  margin: auto;
  zoom: .75;
}