@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body {
  background: rgb(232, 232, 232);
  text-align: center;
  font-family: 'Libre Baskerville', Georgia, 'Times New Roman', Times, serif;
}

svg {
  background: rgb(238, 238, 238);
  border: 1px solid rgb(155, 155, 155);
  box-shadow: .25em .25em 5px rgb(211, 211, 211);
  display: block;
  margin: auto;
  zoom: .75;
}

g path:hover {
  stroke: rgb(255, 255, 255);
  stroke-width: 8px;
  stroke-opacity: .5;
}

.container {
  padding: 1em;
}
